// ********************************************************************************
// --------------------------------------------------------------------------------
// 1.) FOUNDATION General
// --------------------------------------------------------------------------------
// ********************************************************************************

/* Html styles */
html {
    margin: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* Body styles */
body {
    margin: 0;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* Header height */
header {
    min-height: 20vh;
}

/* Main height */
main {
    min-height: 70vh;
}

/* Footer height */
footer {
    min-height: 10vh;
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// 2.) TYPOGRAPHY General
// --------------------------------------------------------------------------------
// ********************************************************************************
h1 {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.web-app-description {
    padding: 8px;
    text-align: justify;
    line-height: 30px;
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// 3.) USER INPUT CONTAINER
// --------------------------------------------------------------------------------
// ********************************************************************************

// ----------------------------------------
// 3.1) User input divs
// ----------------------------------------
.user-inputs-container {
    background-color: #e7e7e7;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

.input-destination-div, .input-date-div {
    display: flex;
    gap: 8px;
}

.label-destination, .label-date {
    width: 50%;
    text-align: right;
}

// ----------------------------------------
// 3.2) User inputs
// ----------------------------------------
#input-destination {
    padding-top: 4px;
    width: 50%;

    background-color: transparent;
    border: none;
}

#input-destination::placeholder {
    color: #555555;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#input-date {
    color: #555555;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    background-color: transparent;
    border: none;

    max-width: 160px;
}

// ----------------------------------------
// 3.3) Generate trip button
// ----------------------------------------
.generate-trip-div {
    text-align: center;
}

#generate-trip-btn {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a8b1d;
    color: #fff;
}

#generate-trip-btn:hover {
    letter-spacing: 3px;
    transition: 0.3s;

}
// ********************************************************************************
// --------------------------------------------------------------------------------
// 4.) TRIP CARDS
// --------------------------------------------------------------------------------
// ********************************************************************************

// ----------------------------------------
// 4.1) Trip card
// ----------------------------------------
.trip-card {
    display: flex;
    flex-direction: column;
    background-color: #d4f5d5
}

.trip-card-info {
    padding: 8px;
}

.trip-card-functions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px 15px;
}

div button {
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #1a8b1d;
    color: #fff;
    padding: 3px;
}

#remove-trip {
    background-color: #ad1212;
}



