/* ********************************************************************************
// --------------------------------------------------------------------------------
// 0.) FOUNDATION
// --------------------------------------------------------------------------------
// ********************************************************************************

/* Box sizing */
* {
    box-sizing: border-box;
}

/* Reset margin and padding */
html {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Default font */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}