// ********************************************************************************
// --------------------------------------------------------------------------------
// 1.) FOUNDATION General
// --------------------------------------------------------------------------------
// ********************************************************************************

/* Box sizing */
* {
    box-sizing: border-box;
}

/* Html styles */
html {
    margin: 0;
    padding: 1vh;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

// ********************************************************************************
// --------------------------------------------------------------------------------
// 2.) TYPOGRAPHY General
// --------------------------------------------------------------------------------
// ********************************************************************************
h1 {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 30px;
}

label {
    font-weight: bold;
}


// ********************************************************************************
// --------------------------------------------------------------------------------
// 3.) LAYOUT General
// --------------------------------------------------------------------------------
// ********************************************************************************
header {

    min-height: 20vh;

}

main {

    min-height: 70vh;

}

footer {

    min-height: 10vh;

}



// ********************************************************************************
// --------------------------------------------------------------------------------
// 4.) STYLES General
// --------------------------------------------------------------------------------
// ********************************************************************************
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

label {
    display: block;
}

input {
    border-radius: 10px;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 3vh 0vh;
}





